<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="API Testing" parallel="tests">
    <listeners>
        <listener class-name="listeners.TestListeners"></listener>
    </listeners>
    <test name="User CRUD Tests">
        <classes>
            <class name="UserTests"></class>
        </classes>
    </test>
    <test name="Barn Farm Tests">
        <classes>
            <class name="BarnFarmTests"></class>
        </classes>
    </test>
</suite>
