<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="API Testing" parallel="tests" data-provider-thread-count="2">
    <listeners>
        <listener class-name="listeners.TestListeners"></listener>
    </listeners>

    <test name="UserCRUDTests">
        <classes>
            <class name="UserTests"></class>
        </classes>
    </test>
    <test name="BarnFarmTests">
        <classes>
            <class name="BarnFarmTests"></class>
        </classes>
    </test>
    <test name="BookTests">
        <classes>
            <class name="BookTests"></class>
        </classes>
    </test>

</suite>
